/*Header*/
*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgba(0, 0, 0, 0.6);
    height: 7vh;
    display:flex;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
}

h1, h2{
    color: #56303d;
}

.nav-top{
    display:flex;
    margin:auto;
    width: 95%;
    align-items: center;
}

.nav-top a{
    color: white;
}

.main-navbar{
    margin-left: auto;
    display: flex;
}

.header-logo{
    width: 20%;
}

.header-logo img{
    width: 15vw;
    transform: translateY(0.2rem);
}

header ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.main-navbar li{
    margin-left: 5rem;
}
/*Cuerpo y Seccion*/


h1{
    font-size: 70px;
    bottom:50px;
    margin: 45px 100px 100px 100px;
}
h6{
    font-size:20px;
}

.text{
    text-decoration: none;
    color: #310101;
}

.abs-inline{
    font-size:20px;
    line-height:2.5;
    margin: 25px 3px 400px 100px;
    display:flex;
    float:left;
}
/*Footer*/
footer{
    display:inline-flex;
    background: #310101;
    align-items: center;
    height: 50vh;
    justify-content: center;
}

footer a, footer p{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

footer a:hover{
    color: white;
}

footer ul, footer li{
    list-style: none;
    padding: 0;
}

.foot-logo{
    width: 25%;
}

.foot-logo img{
    width: 80%;
}

footer .contact{
    width: 35%;
}

.foot-menu ul{
    display: inline-flex;
}

.foot-menu li{
    margin-right: 2em;
}

footer .info > p{
    margin-bottom: 0;
}
