/*header - menu principal*/

*{
    margin: 0;
    padding: 0;
}

.servicios header{
    background-color: rgba(0, 0, 0, 0.6);
    height: 7vh;
    display: flex;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
}

.servicios h1, .servicios h2, .servicios h3{
    color: #56303d;
}

.servicios .nav-top{
    display: flex;
    margin: auto;
    width: 95%;
    align-items: center;
}

.nav-top a{
    color: white;
}

.servicios .main-navbar{
    margin-left: auto;
    display: flex;
}

.header-logo{
    width: 20%;
}

.header-logo img{
    width: 15vw;
    transform: translateY(0.2rem);
}

header ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.main-navbar li{
    margin-left: 3rem;
}

/*bar social media*/

.social{
    position: fixed;
    background-color: #fa3d06;
    right: 0;
    top: 15%;
    height: 20vh;
    width: 3rem;
    display: flex;
    flex-direction: column;
}

.fb, .tw, .yt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33%;
}

.fb a, .tw a, .yt a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fb img{
    height: 60%;
}

.tw img{
    height: 50%;
}

.yt img{
    height: 45%;
}

/*container servicios*/

.services{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.services-title{
    display: flex;
    align-items: center;
    height: 15%;
}

.services-title > h1{
    font-size: 5rem;
}

.services-desc{
    display: flex;
    height: 15%;
}

.services-pics{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 65%;
}

.services-container{
    display: flex;
    width: 49%;
    height: 30%;
    background: rgba(128, 128, 128, .3);
}

.serv-img{
    width: 50%;
    background: rgba(128, 128, 128, .7);
}

.serv-img img{
    width: 100%;
    height: 100%;
}

.serv-desc{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 1.5rem;
    justify-content: space-around;
}

.serv-desc a{
    align-self: center;
    padding: 10px;
    border-radius: 5px;
    background: #fa3d06;
    color: white;
}

/*Footer*/

footer{
    display: flex;
    background: #310101;
    align-items: center;
    height: 40vh;
    justify-content: center;
}

footer a, footer p{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

footer a:hover{
    color: white;
}

footer ul, footer li{
    list-style: none;
    padding: 0;
}

.foot-logo{
    width: 25%;
}

.foot-logo img{
    width: 80%;
}

footer .contact{
    width: 35%;
}

.foot-menu ul{
    display: inline-flex;
}

.foot-menu li{
    margin-right: 2em;
}

footer .info > p{
    margin-bottom: 0;
}